<% provide(:title, "Terms of Use") %>

<h1>Terms of Use</h1>
<p>InstagramCloneへようこそ！</p>
<p>この利用規約は、InstagramCloneをご利用いただく際に適用されるものであり、InstagramCloneサービスに関する情報を提供するものです。InstagramCloneアカウントを作成する場合、またはInstagramCloneをご利用になる場合は、本規約に同意していただくことになります。</p>
<p>[料金]</p>
<p>本サービスの利用料は無料です。</p>
<p>[保証の否認及び免責事項]</p>
<p>本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</p>
<p>本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。</p>
  