<h3>Comment</h3>
<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="one_cmnt" id="cmnt-<%= comment.id %>">
      <%= link_to "#{comment.user.name}", comment.user, class: "cmntname" %>
      <span class="content"><%= comment.content %></span>
      <% if comment.user == current_user %>
        <span class="delete_cmnt">
           <%= link_to " comment delete",micropost_comment_path(comment.micropost_id, comment.id),
               method: :delete, remote: true, class: "cmnt_delete" %>
        </span><!--.delete_cmnt-->
      <% end %>
      <p> <br></p>
    </div><!--.one_come-->
  <% end %>
<% end %>