<% provide(:title, 'Notifications') %>
<h1>Notifications</h1>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
  <div class="users-index">
    <%= render notifications %>
    <%= will_paginate notifications %>
  </div>
<% else %>
  <p>通知はありません</p>
<% end %>