<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :full_name, "Full Name" %>
      <%= f.text_field :full_name, class: 'form-control' %>

      <%= f.label :name, "User Name" %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :web_site, "Web Site" %>
      <%= f.text_field :web_site, class: 'form-control' %>
      
      <%= f.label :introduction, "Introduction" %>
      <%= f.text_field :introduction, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :phone_number, "Phone Number" %>
      <%= f.text_field :phone_number, class: 'form-control' %>
      <div class="gender-field">
        <%= f.label :gender %><br/>
        <%= f.label :man  %>
        <%= f.radio_button :gender, :man %>
        <%= f.label :woman  %>
        <%= f.radio_button :gender, :woman %>
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Icon change</a>
    </div>
    <div><%= link_to "Password change", edit_password_edit_path %></div>
    <div>
      <%= link_to "Account delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </div>
  </div>
</div>