<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if current_user?(@user) %>
        <span><%= link_to "Profile settings", edit_user_path(current_user) %></span>
      <% end %>
    </section>
    <section class="stats">
        <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8 user-profile-contents">
    <p>Full Name：<%= @user.full_name %></p>
    <p>Web Site：<%= @user.web_site %></p>
    <p>Introduction：<%= @user.introduction %></p>
  </div>
  <div class="col-md-12">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <% @microposts.each do |micropost| %>
          <div class="col-md-4">
            <%= render 'microposts/picture',  micropost: micropost %>
          </div>
        <% end %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>