<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <%= link_to image_tag(micropost.picture.url), micropost_path(micropost) if micropost.picture? %>
  <%= link_to image_tag("instagrampost.png"), micropost_path(micropost) unless micropost.picture? %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <!--お気に入り-->
  <%= render "likes/like", micropost: micropost %>
  <!--.comment-->
  <div class="comment">
    <div class="comments_area" id="comments_area">
      <%= render 'comments/index', comments: micropost.comments, micropost: micropost %>
    </div>
    <%= render 'comments/form', comment: @comment, micropost: micropost %>
  </div>
</li>