<li id="micropost-<%= micropost.id %>">
  <button type="button" class="btn" data-toggle="modal" data-target="#postModal-<%= micropost.id%>">
    <%= image_tag(micropost.picture.url, :width =>'100%',:height =>'100%') if micropost.picture? %>
    <%= image_tag("instagrampost.png", :width =>'100%',:height =>'100%') unless micropost.picture? %>
  </button>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <!--お気に入り-->
  <%= render "likes/like", micropost: micropost %>
</li>

<!--モーダル表示-->
<div id="postModal-<%= micropost.id%>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= micropost.content %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag(micropost.picture.url) if micropost.picture? %>
        <%= image_tag("instagrampost.png") unless micropost.picture? %>
        <!--.comment-->
        <div class="comment">
          <div class="comments_area" id="comments_area">
            <%= render 'comments/index', comments: micropost.comments, micropost: micropost %>
          </div>
          <%= render 'comments/form', comment: @comment, micropost: micropost %>
        </div>
      </div>
    </div>
  </div>
</div>