<% provide(:title, 'Edit password') %>
<h1>Edit password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_edit_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :password_pressent, "Pressent password" %>
      <%= f.password_field :password_pressent, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>