<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Instagram", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Notice", notifications_path %>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle notification-circle"></i>
            <% end %>
          </li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Photo post", new_micropost_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          
          <!投稿が表示されるページは投稿検索---->
          <% if current_page?(users_path) || current_page?(notifications_path) %>
            <li>
              <%= form_tag(users_path,:method => 'get', class: "serach-window") do %>
                <%= text_field_tag :search, '', placeholder: 'user' %>
                <%= submit_tag 'Search', :name => nil %>
              <% end %>
            </li>
          <% elsif current_page?(root_path) || current_page?(new_micropost_path) %>
            <li>
              <%= form_tag(root_path,:method => 'get', class: "serach-window") do %>
                <%= text_field_tag :search, '', placeholder: 'comment' %>
                <%= submit_tag 'Search', :name => nil %>
              <% end %>
            </li>
          <% elsif current_page?(:controller => 'users', :action => 'show', :id => params[:id]) %>
            <li>
              <%= form_tag(user_path,:method => 'get', class: "serach-window") do %>
                <%= text_field_tag :search, '', placeholder: 'comment' %>
                <%= submit_tag 'Search', :name => nil %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= form_tag(users_path,:method => 'get', class: "serach-window") do %>
                <%= text_field_tag :search, '', placeholder: 'user' %>
                <%= submit_tag 'Search', :name => nil %>
              <% end %>
            </li>
          <% end %>
          
        <% end %>
      </ul>
    </nav>
  </div>
</header>